<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
      Home
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>

    <span class="stext-109 cl4"> Shopping Cart </span>
  </div>
</div>

<!-- Shopping Cart -->
<div class="bg0 p-t-75 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div
          class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm"
        >
          <h4 class="mtext-109 cl2">Hello Mishab</h4>
          <div class="flex-w flex-t bor12 p-b-13"></div>

          <div class="flex-w flex-t bor12 p-t-15 p-b-30">
            <!-- Profile -->
            <a
              href="/account-details"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-user"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Profile Information</span>
              </div>
            </a>

            <!-- Super Coin -->
            <a
              href="/super-coin"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-coins"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Super Coin</span>
              </div>
            </a>

            <!-- Orders -->
            <a
              href="/orders"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-truck"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Orders</span>
              </div>
            </a>

            <!-- Wish List -->
            <a
              href="/wish-list"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-heart"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Wish List</span>
              </div>
            </a>

            <!-- Coupons -->
            <a
              href="/coupons"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-ticket"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Coupons</span>
              </div>
            </a>
            <a
              href="/address"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-address-card"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Address</span>
              </div>
            </a>

            <!-- Notifications -->
            <a
              href="/notifications"
              class="flex-w flex-t p-t-27 p-b-33 w-full items-center link-row"
            >
              <div class="icon-box">
                <i class="fa-solid fa-bell"></i>
              </div>
              <div class="text-box">
                <span class="mtext-110 cl2">Notifications</span>
              </div>
            </a>
          </div>

          <button
            class="small-btn flex-c-m stext-101 cl0 bg3 bor14 trans-04 pointer"
          >
            Logout
          </button>
        </div>
      </div>
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="profile-card" id="profileCard">
          <div class="profile-image-container">
            <img
              src="https://i.pravatar.cc/150?u=a042581f4e29026704d"
              alt="User profile"
              class="profile-image"
              id="profileImage"
            />
            <input
              type="file"
              id="imageUpload"
              accept="image/png, image/jpeg"
            />
            <label for="imageUpload" class="edit-image-label">Change</label>
          </div>
          <div class="profile-form">
            <div class="field-group">
              <div class="form-field">
                <Label for="firstName">First Name</Label>
                <input
                  type="text"
                  id="firstName"
                  class="info-input"
                  value="Aarav"
                  readonly
                />
              </div>
              <div class="form-field">
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  id="lastName"
                  class="info-input"
                  value="Sharma"
                  readonly
                />
              </div>
            </div>
            <div class="field-group">
              <div class="form-field">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="userEmail"
                  class="info-input"
                  value="aarav.sharma@example.com"
                  readonly
                />
              </div>
              <div class="form-field">
                <label for="phone">Phone</label>
                <input
                  type="tel"
                  id="userPhone"
                  class="info-input"
                  value="+91 98765 43210"
                  readonly
                />
              </div>
            </div>
            <div class="form-field">
              <label for="gender">Gender</label>
              <div class="gender-selection">
                <label
                  ><input
                    type="radio"
                    name="gender"
                    class="info-radio"
                    value="Male"
                    checked
                    disabled
                  /><span>Male</span></label
                >
                <label
                  ><input
                    type="radio"
                    name="gender"
                    class="info-radio"
                    value="Female"
                    disabled
                  /><span>Female</span></label
                >
              </div>
            </div>
          </div>
          <div class="button-container">
            <button
              class="action-button flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
              id="editBtn"
            >
              Edit Profile
            </button>
            <button
              class="action-button save-btn hidden flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10"
              id="saveBtn"
            >
              Save Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<script>
  document.querySelectorAll(".link-row").forEach((link) => {
    if (link.getAttribute("href") === window.location.pathname) {
      link.style.color = "#717fe0";
      const icon = link.querySelector("i");
      if (icon) {
        icon.style.color = "#717fe0";
      }
    }
  });
  const profileCard = document.getElementById("profileCard");
  const editBtn = document.getElementById("editBtn");
  const saveBtn = document.getElementById("saveBtn");
  const textInputs = document.querySelectorAll(".info-input");
  const radioInputs = document.querySelectorAll(".info-radio");

  const profileImage = document.getElementById("profileImage");
  const imageUpload = document.getElementById("imageUpload");

  imageUpload.addEventListener("change", function () {
    const file = this.file[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        profileImage.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  });
  editBtn.addEventListener("click", () => {
    profileCard.classList.add("edit-mode");
    textInputs.forEach((input) => input.removeAttribute("readonly"));
    radioInputs.forEach((radio) => radio.removeAttribute("disabled"));
    document.getElementById("firstName").focus();
    editBtn.classList.add("hidden");
    saveBtn.classList.remove("hidden");
  });
  saveBtn.addEventListener("click", () => {
    profileCard.classList.remove("edit-mode");
    textInputs.forEach((input) => input.setAttribute("readonly", true));
    radioInputs.forEach((radio) => radio.setAttribute("disabled", true));
    editBtn.classList.remove("hidden");
    saveBtn.classList.add("hidden");
  });
</script>
