<style>
.side-image{
    background-image: url('../localimages/signup.jpg');
}
.text p{
    color: #fff;
}
</style>
<div class="wrapper">
    <div class="container main">
        <div class="row">
            <div class="col-md-6 side-image">
                <img src="/localimages/logo.svg"  alt="">
              <div class="text">
                <p>Greetings and welcome to SleekStyle! We are delighted to see you as a part of our community.
                     Feel free to discover and shopping with us to create something wonderful. <i>-SleekStyle</i></p>
              </div>
            </div>
            <div class="col-md-6 right">
                 <div class="input-box">
                    <header>Create account</header>
                    <div class="input-field">
                        <input type="text" name="" id="name" class="input" required autocomplete="off">
                        <label for="email">Name</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="" id="email" class="input" required autocomplete="off">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="" id="password" class="input" required>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field">
                        <input type="password" name="" id="password" class="input" required>
                        <label for="password">Confirm Password</label>
                    </div>
                    <div class="input-field">
                        <input type="submit" class="submit" value="Sign Up">
                    </div>
                    <div class="signin">
                         <span>Already have an account? <a href="/user-login">Login Here</a></span>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>