
<style>
.side-image{
    background-image: url('../localimages/signup.jpg');
}
#logo{
    top: -10px;
}
.text p{
    color: #fff;
}
label.error{
    position: absolute;
    bottom: -10px;
}
</style>
<div class="wrapper">
    <div class="container main">
        <div class="row" id="row">
            <div class="col-md-6 side-image">
                <img id="logo" src="/localimages/logo.svg"  alt="">
              <div class="text">
                <p>Greetings and welcome to SleekStyle! We are delighted to see you as a part of our community.
                     Feel free to discover and shopping with us to create something wonderful. <i>-SleekStyle</i></p>
              </div>
            </div>
            <div class="col-md-6 right">
                 <div class="input-box">
                    <header>CREATE ACCOUNT</header>
                    <form action="/user-signup" method="post" id="signupform">
                        <div class="input-field" style="float: left;width: 50%;">
                            <input type="text" name="firstname" id="name" class="input" required autocomplete="off">
                            <label class="formlabel" for="email">First Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="lastname" id="name" class="input" required autocomplete="off">
                            <label class="formlabel" for="email">Last Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="email" id="email" class="input" required autocomplete="off">
                            <label class="formlabel" for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="phone" id="phone" class="input" required autocomplete="off">
                            <label class="formlabel" for="phone">Mobile</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" id="password" class="input" required>
                            <label class="formlabel" for="password">Password</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="confirmpassword" id="password" class="input" required>
                            <label class="formlabel" for="password">Confirm Password</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Sign Up"  id="open-modal">
                        </div>
                        <div class="signin">
                             <span>Already have an account? <a href="/user-login">Login Here</a></span>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>

 <script>
    $("#signupform").validate({
    rules:{
        firstname:"required",
        lastname:"required",
        password:{
            required:true,
            minlength:6
        },
        confirmpassword:{
            required:true,
            minlength:5,
            equalTo:"#password"
        },
        email:{
            required:true,
            email:true
        }
    },
    messages:{
     password:{
        required:"please provide a password",
        minlength:"your password must be atleast 6 characters"
     },
     confirmpassword:{
        required:"please provide a password",
        minlength:"your password must be atleast 6 characters",
        equalTo:"please enter the same password as above"
     }
    },
    submitHandler: function(form) {
     form.submit();
    }
 });
</script>