<link rel="stylesheet" href="/localcss/otp.css">

<style>
.side-image{
    background-image: url('../localimages/signup.jpg');
}
#logo{
    top: -10px;
}
.text p{
    color: #fff;
}
</style>
<div class="wrapper">
    <div class="container main">
        <div class="row" id="row">
            <div class="col-md-6 side-image">
                <img id="logo" src="/localimages/logo.svg"  alt="">
              <div class="text">
                <p>Greetings and welcome to SleekStyle! We are delighted to see you as a part of our community.
                     Feel free to discover and shopping with us to create something wonderful. <i>-SleekStyle</i></p>
              </div>
            </div>
            <div class="col-md-6 right">
                 <div class="input-box">
                    <header>CREATE ACCOUNT</header>
                    <form action="/user-signup" method="post">
                        <div class="input-field" style="float: left;width: 50%;">
                            <input type="text" name="firstname" id="name" class="input" required autocomplete="off">
                            <label for="email">First Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="lastname" id="name" class="input" required autocomplete="off">
                            <label for="email">Last Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="email" id="email" class="input" required autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="phone" id="phone" class="input" required autocomplete="off">
                            <label for="phone">Mobile</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="password" id="password" class="input" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field">
                            <input type="password" name="confirmpassword" id="password" class="input" required>
                            <label for="password">Confirm Password</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Sign Up"  id="open-modal">
                        </div>
                        <div class="signin">
                             <span>Already have an account? <a href="/user-login">Login Here</a></span>
                        </div>
                    </form>
        
                 </div>
            </div>
        </div>
        <section class="otp-modal otp-container">
            <div class="otp-modal__container" id="modal-container">
                <div class="otp-modal__content">
                    <form action="" class="otp-form">
                        <span class="otp-main-heading">Enter otp</span>
                        <p class="otp-subheading">we have sent a verification code to your mobile number</p>
                        <div class="input-container">
                            <input type="text" maxlength="1" class="otp-input">
                            <input type="text" maxlength="1" class="otp-input">
                            <input type="text" maxlength="1" class="otp-input">
                            <input type="text" maxlength="1" class="otp-input">
                        </div>
                        <a class="verify-btn" type="submit">Verify</a>
                        <button class="exit-btn close-modal"><i class="fa-solid fa-x"></i></button>
                        <p class="resend-note">Didn't receive the code? <a class="resend-btn">Resend code</a></p>
                    </form> 
                </div>
            </div>
        </section>
    </div>
</div>
<script src="/localejs/otp.js"></script>